{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'vanesa.png'%}">
    </a>
    <h1>Чат с Ванеса</h1>
    <p>Това е български чат бот, който учи и може много неща. Само го попитай..</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/selfworks/ChatBotAI"><span class="glyphicon glyphicon-download"></span> Последвай ни в GitHub</a>
    <a type="button" class="btn btn-lg btn-default" onclick="startChat();"><span class="glyphicon glyphicon-play"></span> Старт на чата с Ванеса</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-12">
    <div style="max-height: 500px;overflow-y:scroll;margin-bottom: 20px">
      <div class="well" style="font-size: 15px;font-weight: bold;width: auto">
         <img src="{% static 'vanesa.png'%}" style="padding:5px;height:55px;width: 55px;border-radius: 50%;float: left;border: 3px solid #fff;margin-right: 15px;">
        Здравей..
        <div style="clear:both"></div>
      </div>
      <div class="well" style="font-size: 15px;font-weight: bold">
         <img src="{% static 'vanesa.png'%}" style="padding:5px;height:55px;width: 55px;border-radius: 50%;float: left;border: 3px solid #fff;margin-right: 15px;">
        Здравей..
        <div style="clear:both"></div>
      </div>
    </div>
    </div>
    <div class="col-md-12">
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <br />
   <div class="alert alert-info text-center" role="alert">
    Чат бота още се учи така, че не му се сърдете ако не ви отговори адекватно.
  </div>
</div>
{% endblock %}
