{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'vanesa.png'%}">
    </a>
    <h1>Чат с Ванеса</h1>
    <p>Това е български чат бот, който учи и може много неща. Само го попитай..</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/selfworks/ChatBotAI"><span class="glyphicon glyphicon-download"></span> Последвай ни в GitHub</a>
    <a type="button" class="btn btn-lg btn-default" onclick="startChat();"><span class="glyphicon glyphicon-play"></span> Старт на чата с Ванеса</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="chat-body js-chat-body">

   <!--   <div class="well chat-well">
         <img src="{% static 'vanesa.png'%}" class="chat-avatar">
        Здравей..
        <div style="clear:both"></div>
      </div>-->

    </div>
    </div>
    <div class="col-md-10">
      Започни да пишеш..<br />
      <textarea class="form-control user-input js-user-input"></textarea>
    </div>
    <div class="col-md-2" style="margin-top:15px;">
      <button onclick="sendMessage()" class="btn btn-success btn-block" style="height: 73px">Изпращане</button>
    </div>
  </div>
  <br />
   <div class="alert alert-info text-center" role="alert">
    Чат бота още се учи така, че не му се сърдете ако не ви отговори адекватно.
  </div>
</div>
<script>

    $(document).ready(function () {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
          });
    });

   $(document).keypress(function(e) {
     if (e.which == 13) {
       sendMessage();
     }
   });

    var idleTime = 0;
    function startIdletimer() {
        //Increment the idle time counter every seconds.
        var idleInterval = setInterval(timerIncrement, 1000);

        $(this).keypress(function (e) {
            idleTime = 0;
        });
    }

    var isAnsweredToRandomQuestion = true;
    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 9) { // 10 seconds
            if (isAnsweredToRandomQuestion) {
                getRandomQuestion();
                isAnsweredToRandomQuestion = false;
            }
             idleTime = 0;
        }
    }

   function getRandomQuestion() {
        $.post("/api/get_random_question")
              .done(function (data) {
                  if (data != '') {
                      $('.js-chat-body').append(
                          '<div class="well chat-well">' +
                          '         <img src="{% static 'vanesa.png'%}" class="chat-avatar">' + data +
                      '     <div style="clear:both"></div>' +
                      '   </div>');
                  }
                  $(".js-chat-body").scrollTop($(".js-chat-body")[0].scrollHeight);
              });
   }

   idleTimerStarted = false;
   
  function sendMessage() {

      if (isAnsweredToRandomQuestion == false) {
          isAnsweredToRandomQuestion = true;
      }

      if (idleTimerStarted == false) {
          idleTimerStarted = true;
          startIdletimer();
      }

    var userInput = $('.js-user-input');

    if (userInput.val() == '' || userInput.val() == ' ') {
      return;
    }


    $('.js-chat-body').append(
      '<div class="well chat-well">' +
            '         <img src="{% static 'avatar.png'%}" class="chat-avatar"> Аз: '
                 + userInput.val() +
            '        <div style="clear:both"></div>' +
            '      </div>');

      setTimeout(function () {
          $.post("/api/send_chat", {input: userInput.val()})
              .done(function (data) {
                  if (data != '') {
                      $('.js-chat-body').append(
                          '<div class="well chat-well">' +
                          '         <img src="{% static 'vanesa.png'%}" class="chat-avatar">' + data +
                      '     <div style="clear:both"></div>' +
                      '   </div>');
                  } else {
                      $('.js-chat-body').append('<div style="text-align: right;font-size:12px">Видяно..</div>');
                  }

                  $(".js-chat-body").scrollTop($(".js-chat-body")[0].scrollHeight);

              });

            userInput.val('');
            $(".js-chat-body").scrollTop($(".js-chat-body")[0].scrollHeight);

      }, 600);


  }
</script>

<style>
  .chat-well {
    font-size: 15px;font-weight: bold;width: auto;
  }
  .chat-avatar {
   padding:5px;height:55px;width: 55px;border-radius: 50%;float: left;border: 3px solid #fff;margin-right: 15px;
  }
  .chat-body {
    height: 500px;overflow-y:scroll;margin-bottom: 20px;
  }
  .user-input {
    height: 70px;
  }
</style>
{% endblock %}
