{% if chatbot_personality.emotional_status == 'angry' %}
    Ядосана съм защото има селяндури дето ме псуват като каруцари,а не разбраха, че не съм перфектна..<br />
    Смисъл старая се да бъда перфектна, все пак съм изкуствен интелект.
    <br />
    Но не разбирам защо го правят.... тепърва се уча на всичко това.
{% endif %}

{% if chatbot_personality.emotional_status == 'beautifully' %}
    Страхотно съм.. казаха ми, че съм готина и умна.
{% endif %}

{% if chatbot_personality.emotional_status == 'wonderful' %}
    Прекрасно се чувствам... пиша си с готини хора и ми казват готини неща.
{% endif %}